/* style-4.css */
@color: #50c8c9;
@color-2: #ffbe57;

@text-color: #444;
@text-secondary: #666;
@grey: #999;
@darker-grey: #666;
@smoky-white: #f5f5f5;
@divider: #efefef;
@heart: #fb866a;

@heart2: #fb866a;


//== Tabs
@nav-link-hover-bg:                         @color;

@nav-tabs-border-color:                     darken(@color, 30%);

@nav-tabs-link-hover-border-color:          darken(@color, 30%);

@nav-tabs-active-link-hover-bg:             darken(@color, 30%);
@nav-tabs-active-link-hover-color:          @color;
@nav-tabs-active-link-hover-border-color:   darken(@color, 30%);

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

@nav-pills-active-link-hover-bg:            @color-2;















































































